# Values for kube-prometheus-stack
fullnameOverride: "prometheus-stack"

grafana:
  adminPassword: "admin"
  service:
    type: LoadBalancer

prometheus:
  prometheusSpec:
    serviceMonitorSelectorNilUsesHelmValues: false
    serviceMonitorSelector: {}
    relabelings:
      - sourceLabels: [__meta_kubernetes_pod_container_name]
        action: keep
        regex: (exporter|dcgm-exporter)
    storageSpec:
      volumeClaimTemplate:
        spec:
          storageClassName: gp3
          accessModes: ["ReadWriteOnce"]
          resources:
            requests:
              storage: 20Gi

# Additional ServiceMonitor to scrape DCGM
additionalServiceMonitors:
  - name: dcgm-exporter-monitor
    selector:
      matchLabels:
        app.kubernetes.io/name: dcgm-exporter
    namespaceSelector:
      matchNames:
        - monitoring
    endpoints:
      - port: metrics
        interval: 15s
